.admin-view-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 100vh;
    overflow: hidden;
}

.admin-content {
    flex-grow: 1;
    margin-left: 0;
    padding: 10px;
    transition: margin-left 0.3s ease;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.admin-content.with-sidebar {
    margin-left: 18%;
    width: 82%;
}

.save-button {
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 6px 12px;
    padding-left: 50%;
    font-size: 12px;
    color: #ffffff;
    background-color: rgb(33, 177, 62);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 6px 12px;
    padding-left: 50%;
    font-size: 12px;
    color: #ffffff;
    background-color: rgb(43, 111, 57);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table-container {
    table-layout: fixed;
    padding-left: 5%;
    padding-right: 5%;
    overflow-x: auto;
    max-width: 100%;
}



