/* Sidebar.css */
.sidebar {
    width: 18%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar-menu li {
    padding: 10px 20px;
    margin: 5px 0;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
    background-color: #ddd;
    font-weight: bold;
}
